@model AspNetIdentityApp.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div>
    <hr />
    @Html.ValidationSummary(false)

    <div>
        E-mail
        <div>
            @Html.EditorFor(model => model.Email)
        </div>
    </div>
    <div>
        Login
        <div>
            @Html.EditorFor(model => model.Login)
        </div>
    </div>

    <div>
        Password
        <div>
            @Html.EditorFor(model => model.Password)
        </div>
    </div>

    <div>
        Password confirm
        <div>
            @Html.EditorFor(model => model.PasswordConfirm)
        </div>
    </div>

    <div>
        <div>
            <input class="btn" type="submit" value="Register" />
        </div>
    </div>
</div>
}


